* {
    border-collapse: collapse;
    margin: 0;
    padding: 0;
}

td {
    padding: 5px;
}

hr {
    margin: 10px auto;
}

td {
    border: solid thin black;
    width: 20px;
    height: 20px;
    text-align: center;
}

.black {
    background-color: black;
    color: white;
}

.white {
    background-color: white;
    color: black;
}

table {
    margin: auto;
}

.cnt {
    display: flex;
}

a {
    display: block;
    border: solid thin black;
    padding: 10px;
}